@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

:root{
    /*=> Height*/
    --main-height : 1800px;
    --header-height : 534px;
    --header-height-top : 100px;
    --header-height-slider : 434px;
    --content-height : 867px;
    --footer-height : 400px;
    --footer-top-height : 340px;
    --footer-bottom-height : 60px;
    /*=> Background Color*/
    --primary-color : #76c38f;
    --header-bg-color : #330000;
    --content-bg-color : #660000;
    --footer-top-bg-color : #303030;
    --footer-buttom-bg-color : #2b2b2b;
}

.primary-color{
    color: var(--primary-color);
}

.anchor{
    padding-top: 5px;
    text-decoration: none;
    color: var(--primary-color);
}

#container{
    position: relative;
    min-height: var(--main-height);
    width: 100%;
    margin: auto;
}

button{
    margin-top: 10px;
    padding: 5px 14px;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--primary-color);
    border: none;
}

/*
    =>@Start Header Part
*/
header{
    position: relative;
    min-height: var(--header-height);
    width: 100%;
    color: #fff;
    background-color: var(--header-bg-color);
}

#header-top{
    position: relative;
    width: 100%;
    min-height: var(--header-height-top);
    overflow: hidden;
}

#header-top > #logo{
    position: relative;
    display: inline-block;
    width: 35%;
    min-width: 180px;
    left: 5%;
    top: 25px;
    overflow: hidden;
}

#logo h2{
    font-size: 1.7em;
}

#logo p{
    font-size: 0.9em;
}

#header-top > nav{
    position: relative;
    display: inline-block;
    width: 65%;
    top: 35px;
}

#header-top nav ul{
    position: relative;
    list-style-type: none;
    left: 15%;
}

#header-top nav ul li{
    cursor: pointer;
    float: left;
    padding: 12px 25px;
    display: block;
    font-size: 1.2em;
}

#header-top nav ul li.active{
    color: #000;
    border-radius: 10px;
    background-color: var(--primary-color);
}

#header-top nav ul li:hover{
    color: #000;
    border-radius: 10px;
    background-color: var(--primary-color);
}

#header-bottom{
    position: relative;
    width: 100%;
    min-height: var(--header-height-slider);
    overflow: auto;
}

#header-bottom-left{
    position: relative;
    width: 50%;
    padding: 90px 90px;
}

#header-bottom-left h1{
    font-size: 2.8em;
    line-height: 0.9em;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

#header-bottom-left p{
    text-align: justify;
    font-weight: 70;
    padding-top: 20px;
    padding-right: 30px;
    letter-spacing: 1px;
    color: #aaa;
    font-family: 'Times New Roman', Times, serif;
}

#header-bottom-right{
    position: relative;
    min-width: 50%;
}

#circle{
    position: relative;
    height: 350px;
    width: 350px;
    margin-top: 30px;
    margin-left: 120px;
    border-radius: 50%;
    display: inline-block;
    background-color: #6b6b6b;
}

#small-circle{
    position: absolute;
    height: 310px;
    width: 310px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #333333;
}

#small-circle p{
    position: absolute;
    top: 130px;
    left: 80px;
    font-size: 1.5em;
}
/*
    =>@End Header Part
*/
/*
    =>@Start Main Conent Part
*/
#main-content{
    position: relative;
    min-height: var(--content-height);
    background-color: var(--content-bg-color);
}
/*
    =>@End Main Conent Part
*/
/*
    =>@Start Footer
*/
footer{
    position: relative;
    min-height: var(--footer-height);
}

#footer-top{
    position: relative;
    min-height: var(--footer-top-height);
    background-color: var(--footer-top-bg-color);
}

#footer-bottom{
    position: relative;
    min-height: var(--footer-bottom-height);
    background-color: var(--footer-buttom-bg-color);
}
/*
    =>@End Footer
*/