@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    /*=> Height*/
    --main-height : 1800px;
    --header-height : 534px;
    --header-height-top : 100px;
    --header-height-slider : 434px;
    --content-height : 867px;
    --footer-height : 400px;
    --footer-top-height : 340px;
    --footer-bottom-height : 60px;
    /*=> Background Color*/
    --header-bg-color : #330000;
    --content-bg-color : #660000;
    --footer-top-bg-color : #303030;
    --footer-buttom-bg-color : #2b2b2b;
}

#container{
    min-height: var(--main-height);
    width: 80%;
    margin: auto;
}
/*
    @Start=> Header Part
*/
header{
    min-height: var(--header-height);
    width: 100%;
    color: #fff;
    background-color: var(--header-bg-color);
}

header #top{
    width: 100%;
    min-height: var(--header-height-top);
}

header #top #logo{
    float: left;
    width: 35%;
    padding: 30px 100px;
}

#logo h2{
    font-family: "Times New Roman", Times, serif;
}

#logo p{
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
}

header nav ul{
    list-style-type: none;
    padding: 0 0 0 15%;
    margin: 0;
}

header nav ul li{
    float: left;
    padding: 12px 25px;
    display: block;
}

header nav ul li.active{
    border-radius: 10px;
    background-color: green;
}

header #top nav{
    float: left;
    width: 65%;
    padding: 30px 0px;
}

header #slider{
    min-height: var(--header-height-slider);
    border: 2px solid aqua;
}
/*
    @End=> Header Part
*/

/*
    @Start=> Main Part
*/
#main-content{
    min-height: var(--content-height);
    background-color: var(--content-bg-color);
}
/*
    @End=> Main Part
*/

/*
    @Start=> Footer Part
*/
footer{
    min-height: var(--footer-height);
}

footer #footer-top{
    min-height: var(--footer-top-height);
    background-color: var(--footer-top-bg-color);
}

footer #footer-bottom{
    min-height: var(--footer-bottom-height);
    background-color: var(--footer-buttom-bg-color);
}
/*
    @End=> Footer Part
*/