@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

.primary-color{
    color: var(--primary-color);
}

:root{
    --primary-color : #76c38f;
    --header-bg-color : #330000;
    --content-bg-color : #660000;
    --footer-top-bg-color : #303030;
    --footer-buttom-bg-color : #2b2b2b;
}

/*
    @Start => Header Part
*/
#header{
    display: table;
    width: 100%;
    background-color: var(--header-bg-color);
}

#logo{
    display: table-cell;
    width: 35%;
    padding: 20px 0;
    color: #ddd;
    text-align: center;
}

#logo h2{
    padding-left: 10px;
    font-size: 1.8em;
}

#logo p{
    font-size: 1em;
}

#navbar{
    display: table-cell;
    width: 65%;
    text-align: center;
}

#navbar > a{
    color: #ddd;
    display: inline-block;
    text-decoration: none;
    min-width: 100px;
    font-size: 1.2em;
    margin-right: 10px;
    margin: 10px 5px 0;
    padding: 10px 0;
    border-radius: 10px;
}

#navbar > a.active{
    color: #111;
    background-color: var(--primary-color);
}

#navbar > a:hover{
    color: #111;
    background-color: var(--primary-color);
}

@media only screen and (max-width:600px){
    #header{
        display: block;
    }
    #logo{
        display: block;
        width: 100%;
    }
    #navbar{
        display: block;
        width: 100%;
    }
    #navbar > a{
        display: block;
        width: 100%;
        border-radius: 0;
    }
}
/*
    @End => Header Part
*/